<form action="/cart" method="post">
    <input type="hidden" value="<%=csrf_token%>" name="_csrf">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="pid" value="<%= data._id %>">
</form>