<%-include('./Includes/header.ejs')%>
<link rel="stylesheet" href="/CSS/home.css">

</head>
<body>

    <%-include('./Includes/navigation.ejs')%>
    <div class="img">
   <div class="home">
    <h1>Welcome to home page...</h1>
   </div>
</div>
    
    <%-include('./Includes/footer.ejs')%>